<section class="home">
    <div class="home__intro">
        <h1 class="home__title">Bem-vindo ao Mural</h1>
        <p class="home__description">Um espaço para coletar, desenvolver e compartilhar ideias. Este é meu caderno de anotações digital.</p>
    </div>
    <section class="home__card-box">
        <% @posts.each do |post| %>
            <article class="card">
                <div class="card__text-box">
                    <h2 class="card__title"><%= post.title %></h2>
                    <p class="card__text"><%= post.content%></p>
                    <p class="card__post">Postado em <%= post.created_at.strftime("%d/%m/%Y às %H:%M") %></p>
                </div>
                <div class="card__btn-box">
                    <%= link_to edit_post_path(post), class: "btn-icone", title: "Editar", data: { turbo_frame: "modal" } do %>
                        <i class="fa-solid fa-pencil"></i>
                    <% end %>

                    <%= link_to post, class: "btn-icone", title: "Apagar", data: { turbo_method: :delete} do %>
                        <i class="fa-solid fa-trash"></i>
                    <% end %>
                </div>
            </article>
        <% end %>
    </section>
</section>